@import "../../common/developer-header";
.detail-box{
  width: 1200px;
  margin:0 auto;
  background: #fff;
  padding-bottom: 100px;
  min-height: 400px;
  padding-top: 20px;
  font-family: "Hiragino Sans GB";
}
.detail-content{
  width: 776px;
  margin: 0 auto;
  text-align: center;
}
.detail-content .title{
  font-size: 20px;
  color: #3f3f3f;
  font-weight: bold;
}
.detail-content .time{
  font-size: 14px;
  color: #bdbdbd;
  font-weight: bold;
  margin-top: 20px;
}
.content-list{
  padding-top: 30px;
  font-size: 18px;
  color: #717171;
  text-align: left;
}
footer {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}