@import "nav";
.agreement{
  width:1200px;
  margin: 0 auto;
}
.agreement-content{
  width: 1020px;
  background-color: #fff;
  float: left;
  margin:20px 0 30px 20px;
}
.agreement-content h3{
  margin:40px 0 40px 60px;
  font-size: 18px;
  color: #666;
}
.agreement-content .content{
  margin:0 60px 30px;
}
.content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 31px;
}