.contact-title {
  padding: 10px 15px 0 0;
  font-size: 24px;
  float: right;
}

.contact-content {
  margin: 90px auto 0;
  text-align: center;
}

.contact-content .text {
  font-size: 24px;
  color: #666;
}

.contact-content .tel {
  margin-top: 20px;
  font-size: 24px;
  color: #ffac5c;
}