.special{
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.special-box{
  margin: 0 56px;
  height: 251px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
}
.special-box ul li{
  width: 200px;
  float: left;
  padding:43px 0;
  margin:0 81px;
}
.special-box ul li p{
  font-size: 16px;
  color: #696969;
  font-weight: bold;
}
.special-box ul li .special-pl{
  padding-top: 10px;
}
