.friendly-link{
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  background-color: #fff;
}
.friendly-link .friendly-box{
  margin:0 56px;
  border-top: 1px solid #d3d3d3;
}
.friendly-link p{
  line-height: 60px;
  font-size: 16px;
  color: #696969;
  font-weight: bold;
}
.friendly-link p a{
  color: #1bc7c9;
}
.friendly-link p a:first-child{
  padding-right: 100px;
}
body{
  line-height: normal;
}