.slider {
    position: relative;
}
.slider-content {
    margin: 0 5rem 0 2rem;
}
.slider-content .title {
    font-size: 1.6rem;
    display: block;
    height: 4rem;
    line-height: 4rem;
    color: #f15f00;
    border-bottom: 1px solid #c8c8c8;
}
.slider-box p {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #999;
    font-size: 1.4rem;
}
.slider-box p span {
    color: #666;
    padding-left: 1rem;
}
.slider-box .name {
    color: #3e3e3e;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.slider-box .company {
    padding-bottom: 1rem;
}
.slider-content .node-box a {
    display: block;
    border-bottom: 1px solid #c8c8c8;
}
.letter {
    position: fixed;
    right: 1rem;
    top: 6rem;
}
.letter li {
    display: block;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
}
.letter li a {
    color: #999;
}
@media(min-device-width:414px){
    .slider-content .title {
        font-size: 1.8rem;
    }
    .letter li {
        height: 2.2rem;
        line-height: 2.2rem;
    }
}