/*头部*/
.detail-header {
    border-bottom: 1px solid #c8c8c8;
}

.header-box {
    position: relative;
    height: 5.5rem;
    line-height: 5.5rem;
    font-size: 1.8rem;
    text-align: center;
    color: #2b2b2b;
    background: #f5f5f5;
}

.header-box i {
    color: #2b2b2b;
}

.com-back,
.close-back {
    position: absolute;
    top: 0;
    left: 15px;
}

.com-back i,
.close-back i {
    display: inline-block;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -o-transform: rotate(180deg); /* Opera */
}

.edit-btn {
    position: absolute;
    top: 2px;
    right: 50px;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 20px;

}
.save-top {
    position: absolute;
    right: 20px;
}

.edit-btn i {
    font-size: 1.8rem;
}

.delete-btn i {
    font-size: 1.8rem;
}