@import "../nav";
@import "../../../common/confirm-pop";
@import "../../../common/prompt-pop";
@import "../../../common/list-edit";
@import "../../../common/add-picture";
@import "../../../common/loading-pop";
@import "../../../common/select-product-pop";

.main-protect {
  margin-bottom: 20px;
}

.main-protect .textarea-select {
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 550px;
  background: #fff;
  display: inline-block;
  text-align: left;
  margin: 0;
  min-height: 40px;
  line-height: 28px;
  max-height: 300px;
  _height: 120px;
  font-size: 14px;
  color: #6e6e6e;
}

.main-protect span {
  margin: 0;
  color: #6e6e6e;
}

.box .enterprise-website input {
  width: 408px;
}

input[name="turnover"],
input[name="worker_count"] {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

input[name="turnover"] + span,
input[name="worker_count"] + span {
  position: absolute;
  right: 23vw;
  top: 10px;
}

.company-introduction textarea {
  width: 550px;
  height: 110px;
  vertical-align: middle;
  box-sizing: border-box;
}

.company-introduction .textarea {
  position: relative;
  display: inline-block;
  width: 550px;
  height: 110px;
  font-style: normal;
}

.company-introduction .textarea .text {
  height: 16px;
  font-size: 14px;
  color: #d8d8d8;
  position: absolute;
  right: 6px;
  bottom: 4px;
  padding: 0 5px;
  width: auto;
}

.tips-file {
  color: #b3b3b3;
  font-size: 12px;
  font-style: normal;
}

.inline-areas {
  width: 14vw;
  display: inline-block;
}

.inline-areas:first-child {
  margin-right: 2%;
}