@import "../../common/confirm-pop";
@import "../../common/prompt-pop";
@import "../../common/loading-pop";

.line {
  height: 10px;
  background-color: #1cc7ca;
}

.login-box {
  width: 360px;
  height: auto;
  overflow: hidden;
  margin: 180px auto 220px;
}

.login-logo {
  width: 100%;
  text-align: center;
}

.login-logo img {
  width: 124px;
  height: 40px;
}

.login-form {
  height: auto;
  overflow: hidden;
}

.login-form h3 {
  margin-top: 72px;
  margin-bottom: 36px;
  text-align: center;
  font-size: 18px;
  color: #666;
}

.form-group {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-top: 50px;
}

.form-group input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
  font-size: 14px;
  color: #999;
}

.form-group .validation-code {
  width: 110px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 16px;
  color: #ffac5c;
}

.agreement {
  font-size: 16px;
  color: #999;
  margin: 30px 0 20px 35px;
}

.agreement a {
  color: #1cc7ca;
}

.form-group .btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background-color: #1cc7ca;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-indent: 0;
  float: none;
  padding: 0;
  border-radius: 0;
}

.form-error {
  position: absolute;
  top: 43px;
}

.error-message {
  color: #a94442;
}

//注册成功
.success-hint {
  text-align: center;
  margin-top: 50px;
}

.success-hint p:first-child {
  font-size: 24px;
  color: #666;
}

.success-hint p:nth-child(2) {
  font-size: 16px;
  padding-top: 40px
}

.success-hint .time {
  color: #ffac5c;
}