@import "../../../common/swiper.min.css";
@import "../../../common/exhibition-header";
@import "../../../common/friendly-link";
@import "../../../common/cooperation-unit";

footer {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}

p {
  font-family: hiraginosansgb;
}

.broadcast-box {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 10px 15px;
}


