.page {
    background-color: #efefef;
}

.honor-box {
    padding: 4vw 4vw;
    background-color: #fff;
}

.honor-box p {
    height: 40px;
    line-height: 40px;
    color: #757575;
    font-size: 17px;
    border-bottom: 1px solid #efefef;
}

.img-box {
    width: 100%;
    padding-top: 20px;
}

.img-box li {
    width: 28vw;
    display: inline-block;
    margin-right: 2.7vw;
    margin-bottom: 4vw;
}

.img-box li:nth-child(3n) {
    margin-right: 0;
}

.img-box li img {
    width: 100%;
    height: 20vw;
}

.content-empty {
    margin: 70px 0;
    text-align: center;
}

.content-empty p {
    color: #BBBBBB;
    font-size: 15px;
    margin-top: 22px;
    border-bottom: none;
}

