/* box */
.com-box {
    overflow: hidden;
}
.com-box:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
/* box style */
.box-default {
    border: 1px solid #e8e8e8;
    border-radius: .4rem;
}
.box-default .box-title {
    position: relative;
    height: 3.6rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #e8e8e8;
    line-height: 3.6rem;
    background: #f8f8f8;
    color: #000; 
    font-size: 1.4rem;
}
.box-default .box-title strong {
    font-weight: bold;
}
.box-default .box-title .link {
    position: absolute;
    line-height: 3.6rem;
    right: 1rem;
    top: 0;
    font-size: 1.2rem;
}
/* box color */
.box-gray {
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    border-radius: .5rem;
}
.box-gray .box-title {
    position: relative;
    height: 2.6rem;
    line-height: 2.6rem;
    padding: 0.6rem 1.5rem 0.6rem;
    font-size: 1.6rem;

}
.box-gray .box-title strong {
    font-weight: bold;
}
.box-gray .box-title .link {
    position: absolute;
    line-height: 2.6rem;
    right: 1rem;
    top: .6rem;
    font-size: 1.2rem;
}