.left-box {
    width: 340px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    background: #fff;
}

.left-box > div {
    float: left;
    width: 340px;
    padding: 30px 0;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
}

.left-box h3 {
    font-size: 18px;
    color: #3e3e3e;
    margin-bottom: 20px;
}

.left-box .top-strength .mesh {
    height: 272px;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

.top-strength .mesh img {
    position: absolute;
    top: 47px;
    left: 65px;
}

.top-strength .mesh span {
    position: absolute;
    font-size: 12px;
    color: #5e5332;
}

.top-strength .mesh span:nth-child(2) {
    top: 28px;
    left: 130px;
}

.top-strength .mesh span:nth-child(3) {
    top: 100px;
    left: 12px;
}

.top-strength .mesh span:nth-child(4) {
    top: 100px;
    right: 16px;
}

.top-strength .mesh span:nth-child(5) {
    bottom: 39px;
    left: 47px;
}

.top-strength .mesh span:nth-child(6) {
    bottom: 39px;
    right: 53px;
}

.left-box .map {
    width: 340px;
    height: 326px;
}

.left-box .map .branches {
    position: relative;
    width: 313px;
    height: 280px;
    padding-left: 12px;
}

.map .branches img {
    position: absolute;
    top: 12px;
    left: 28px;
}

.map .branches .strength {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -32px;
    left: 20px;
}

.map .branches a {
    position: absolute;
    display: block;
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #8a572a;
    font-size: 14px;
    border: 1px solid #a0785a;
    border-radius: 3px;
    bottom: 17px;
    left: 118px;
}

.left-box .contact .information {
    width: 313px;
    margin-left: 12px;
    margin-bottom: 15px;
}

.contact .information p {
    margin-top: 15px;
}

.contact .information .contact-info,
.company-dynamic .look-more {
    display: block;
    margin-top: 20px;
    color: #fff;
    background: #1bc7c9;
    margin-left: 100px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.contact .information .contact-information {
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    color: #8a572a;
    font-size: 14px;
    border: 1px solid #a0785a;
    border-radius: 3px;
    text-align: center;
    margin-left: 100px;
}

.contact .information p span {
    color: #453913;
    font-size: 12px;
    width: 60px;
    display: inline-block;
}

.contact .information p span:nth-child(2n) {
    width: 145px;
    text-align: center;
}
.report .details {
    width: 313px;
    height: 154px;
    margin-left: 12px;
    text-align: center;
}

.report .details .iconfont {
    font-size: 90px;
    color: #a0785a;
}

.report .details p {
    width: 126px;
    height: 28px;
    line-height: 28px;
    color: #8a572a;
    font-size: 14px;
    border: 1px solid #a0785a;
    border-radius: 3px;
    margin-left: 94px;
    cursor: pointer;
}

.report .details #downloadReport .iconfont {
    font-size: 18px;
    color: #A0785A;
    padding-right: 3px;
}
.company-dynamic li {
    height: 35px;
    line-height: 35px;
}
.company-dynamic p {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.company-dynamic span {
    color: #999;
}
/*弹层*/
.pop-box {
    width: 410px;
    height: auto;
    padding: 15px 20px 60px 40px;
    color: #3e3e3e;
}

.cancel {
    text-align: right;
    font-size: 24px;
    color: #3e3e3e;
}

.cancel i:hover {
    color: #f15f00;
}

.pop-box h3 {
    display: inline-block;
    color: #463914;
    font-size: 16px;
    vertical-align: top;
    text-align: right;
    width: 80px;
}

.fq-box {
    margin-top: 20px;
}

.pop-box ul {
    display: inline-block;
    width: 320px;
}

.pop-box ul li {
    font-size: 16px;
    display: inline-block;
    margin-right: 8px;
    padding-bottom: 25px;
}

.pop-box li i {
    padding-right: 10px;
}

.pop-box li a,
.pop-box li i {
    color: #A0785A;
}

.pop-box li a:hover {
    color: #dc7438;
}

.pop-box .cancel {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: #fff;
    position: absolute;
    right: -10px;
    top: -14px;
    text-align: center;
    line-height: 33px;
}

.pop-box .cancel i {
    font-size: 32px;
}

#content_box {
    margin-bottom: 80px;
    min-height: 550px;
}

@media screen and (min-height: 961px) {
    #content_box {
        min-height: 800px;
    }
}