/*最上部，经纪人信息*/
.broker-info,
.landlord-info {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: center;
    padding: 1rem 1.5rem;
}
.broker-info img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: .3rem;
}
.landlord-info img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 3rem;
}
.broker-info .broker-name {
    margin-left: 1.4rem;
    overflow: hidden;
    height: 2.5rem;
    line-height: 2.5rem;
}
.broker-info .broker-detail,
.landlord-info .landlord-detail {
    display: block;
    -webkit-box-flex: 1;
}
.landlord-info .landlord-detail {
    margin-left: 1rem;
}
.landlord-info .landlord-detail p {
    margin-bottom: .8rem;
    font-size: 1.6rem;
}
.landlord-info .landlord-detail span {
    font-size: 1.4rem;
    color: #8d8c92;
}
.broker-info .broker-kpi {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    margin-top: .2rem;
}
.broker-info .broker-kpi .goodnum {
    padding-top: 2rem;
}
.broker-info .broker-kpi .box-flex {
    padding: 0 1.4rem;
    text-align: center;
    border-right: .1rem solid #e7e7e7;
}
.broker-info  .box-flex dd {
    color: #8d8c92;
}
.broker-info .env-link {
    position: absolute;
    left: 8.5rem;
    margin-top: -.4rem;
    color: #007FFF;
}
.broker-info .broker-kpi .box-flex:last-child {
    border-right: 0;
}
.broker-info .coop-member {
    margin-top: .3rem;
    padding: 1px;
    width: 3rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    border: .1rem solid #a7a7a7;
    border-radius: .3rem;
}
.evaluation {
    margin: 0 1.5rem;
    padding: 1em 0;
    border-top: .1rem solid #e7e7e7;
}
.evaluation img {
    border-radius: 3rem;
    margin-right: .5rem; 
    width: 2.5rem;
    height: 2.5rem;
}
.evaluation p {
    padding: 1rem 2rem .5rem 0;
}
.evaluation dd {
    float: right;
    margin-top: -4rem;
}
.downapp {
    padding: 1.3rem;
    border-top: .1rem solid #e7e7e7;
    border-bottom: .1rem solid #e7e7e7;
}
.downapp i {
    color: #f15f00;
    padding-right: .5rem;
}
.downapp .button {
    position: absolute;
    right: 1.5rem;
    border: .1rem solid #ff8000;
    border-radius:.4rem;
    padding: .5rem;
    color: #ff8000;
    font-size: 1.2rem;
}
/*金牌顾问标签*/
.gold-mark {
    border: .1rem solid #FF9F00;
    vertical-align: text-bottom;
    border-radius: .3rem;
    padding: .1rem;
    color: #FF9F00;
    margin-left: .5rem;
    font-size: 1.2rem;
    line-height: 1.3rem;
}
.silvery-mark {
    color: #A6D0EA;
    border: .1rem solid #A6D0EA;
}