.section02 .item .item-box {
  height: 80px;
}

.section02 .title-box p.title img {
  width: 40px;
  margin-right: 10px;
  border-radius: 0;
}

.note-text {
  position: absolute;
  top: 10px;
  left: 25px;
}

.note-text p {
  font-size: 22px;
  padding: 4px 8px;
  margin-bottom: 0;
  border-radius: 5px;
  border: 1px solid #e70012;
  background-color: #fff5f6
}

.point-box-01 {
  top: 147px;
  left: 152px;
}

.point-box-02 {
  top: 116px;
  left: 345px;
}

.point-box-03 {
  top: 117px;
  left: 392px;
}

.point-box-04 {
  top: 165px;
  left: 578px;
}

.point-box-05 {
  top: 171px;
  left: 152px;
}

.point-box-06 {
  top: 191px;
  left: 209px;
}

.point-box-07 {
  top: 160px;
  left: 300px;
}

.point-box-08 {
  top: 162px;
  left: 455px;
}

.point-box-09 {
  top: 160px;
  left: 530px;
}

.point-box-10 {
  top: 188px;
  left: 578px;
}

.point-box-11 {
  top: 195px;
  left: 152px;
}

.point-box-12 {
  top: 212px;
  left: 578px;
}

.point-box-13 {
  top: 276px;
  left: 209px;
}

.point-box-14 {
  top: 273px;
  left: 300px;
}

.point-box-15 {
  top: 270px;
  left: 455px;
}

.point-box-16 {
  top: 270px;
  left: 533px;
}

.point-box-17 {
  top: 362px;
  left: 348px;
}

.point-box-18 {
  top: 369px;
  left: 355px;
}

.point-box-19 {
  top: 373px;
  left: 362px;
}

.point-box-20 {
  top: 364px;
  left: 455px;
}