.page {
    background: #eee;
}

/*进度条*/
.progress-bar {
    padding: 15px 15px 0 15px;
}

.progress-bar p,
.flow-content .title {
    padding-bottom: 5px;
    font-size: 1.8rem;
    color: #999;
}

.bar {
    position: relative;
    width: 100%;
    background: #d9d9d9;
    border-radius: 30px;
}

.bar div {
    display: block;
    position: relative;
    background: #ff8a00; /* 进度条背景颜色 */
    color: #fff;
    height: 25px;
    line-height: 25px;
    border-radius: 30px;
}

.bar div span {
    position: absolute;
    width: 100%;
    text-align: center;
}

.flow-content {
    padding: 15px;
}

.item-time {
    position: relative;
    width: 100%;
    background: #fff;
    margin-bottom: 8px;
}

.item-time .time {
    line-height: 2rem;
    padding-left: 25px;
    padding-top: 0.9rem;
    font-size: 1.6rem;
    position: relative;
    font-weight: bold;
}

.item-time:before {
    position: absolute;
    left: 0;
    content: '';
    top: -1%;
    height: 102%;
    width: 2px;
    background: #ff8a00;
}

.item-time .circle {
    position: absolute;
    top: 15px;
    left: -5.5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    border: 2px #ff8a00 solid;
}

.item-time .time i {
    display: block;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    right: 20px;
    top: 15px;
}

.item-time .time .show-more {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.event-box {
    padding: 0 20px;
}

.item-event {
    position: relative;
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #c8c8c8;
    font-size: 1.6rem;
}

.item-event .plan-time {
    padding-top: 5px;
    color: #d6d6d6;
    font-size: 1.5rem;
}

.item-event p {
    color: #666;
    line-height: 1.8rem;
}

.item-event span {
    display: inline-block;
    width: 80%;
}

.item-event i {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 1.8rem;
}

.red {
    color: red;
}

.green {
    color: green;
}

.tips {
    margin-bottom: 10px;
}

.tips span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
}

.tips i {
    padding-right: 7px;
    font-size: 2rem;
    vertical-align: top;
}

.tips .first-tip {
    padding-right: 20px;
}

@media (min-device-width: 375px) {
    .item-time .circle {
        top: 20px;
        left: -7px;
        width: 12px;
        height: 12px;
    }
}

@media (min-device-width: 414px) {
    .item-time .time {
        height: 7.5rem;
        line-height: 5.5rem;
        font-size: 1.8rem;
    }

    .item-event i {
        font-size: 2.2rem;
    }

    .item-time .time i {
        right: 23px;
    }

    .item-time .circle {
        top: 18px;
        left: -8px;
        width: 14px;
        height: 14px;
    }

    .bar div {
        height: 30px;
        line-height: 30px;
    }

    .tips i {
        font-size: 2.2rem;
    }

    .tips span {
        font-size: 1.6rem;
    }
}

.item-time .time .purchase-time {
    display: block;
    line-height: 2rem;
    font-weight: normal;
    color: #c1c1c1;
}