@import "../../../common/confirm-pop";
@import "../../../common/prompt-pop";
@import "../../../common/list-edit";
@import "../../../common/loading-pop";
@import "../../../common/common-edit";
@import "../../../common/select-product-pop";

.textarea-select {
  max-width: 550px;
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  box-sizing: border-box;
  line-height: 28px;
  max-height: 3.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #6e6e6e;
}

.error-category_ids{
  color: #a94442;
}