@import "../../common/exhibition-header";
@import "../../common/no-data";
@import "../../common/cooperation-unit";
@import "../../common/friendly-link";

p {
  font-family: hiraginosansgb;
}

.provider-list {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding-top: 35px;
}

.select-box {
  box-shadow: 3px 5px 3px #fafafa;
  border: 1px solid #eee;
  margin: 0 24px;
}

.select-box li {
  display: inline-block;
  text-align: center;
  width: 92px;
  height: 150px;
  overflow: hidden;
}

.select-box .active {
  background: #60d8da;
}

.select-box img {
  width: 40px;
  height: 40px;
  margin: 28px 0;
}

.select-box .active img {
  position: relative;
  left: -66px;
  -webkit-filter: drop-shadow(65px 0 0 #fff);
  filter: drop-shadow(65px 0 0 #fff);
}

.select-box li a {
  display: block;
}

.select-box li i {
  line-height: 94px;
  font-size: 40px;
}

.select-box li p {
  font-size: 16px;
  font-weight: bold;
}

.select-box li p,
.select-box li i {
  color: #666;
}

.select-box .active p,
.select-box .active i {
  color: #fff;
}

.img-box .title {
  margin: 0 50px;
  height: 70px;
  border-bottom: 1px solid #f2f2f2;
}

.img-box .title p {
  position: relative;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  color: #3f3f3f;
  font-weight: bold;
}

.img-box .title a {
  position: absolute;
  right: 5px;
  top: 0;
  color: #1bc7c9;
  font-size: 16px;
  font-weight: bold;
}

.img-box li {
  display: inline-block;
  padding: 15px 49px;
}

.img-box li a {
  display: block;
}

.img-box li img {
  width: 138px;
  height: 60px;
}

.provider-box {
  min-height: 400px;
}

.provider-box .look-more {
  display: block;
  text-align: right;
  padding-right: 55px;
  color: #1bc7c9;
  height: 35px;
  line-height: 35px;
}

footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}