/node_modules
/app-admin/node_modules
/app-web/node_modules
/app-wap/node_modules
/app-mobi/node_modules
/app-hulk/node_modules
/app-large/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
*/_ide_helper.php
app-admin/public/www
app-admin/public/dist
app-web/public/www
app-web/public/dist
app-wap/public/www-built
app-large/public/www
app-large/public/dist


.DS_Store
.phpcd/
/.phpcd/

/composer.phar
/node_modules/
composer.phar
Thumbs.db
_ide_helper.php
.vagrant
*.orig
vagrant_ansible_inventory_default
.buildpath
.project
.settings/
tags
.tags
.tags_sorted_by_file
.lock
.app-test
/bower
.phpcomplete_extended
.phpcd
dump.rdb
/public/developer

