@import "../../common/add-picture";
@import "../../common/confirm-pop";
@import "../../common/prompt-pop";
@import "../../common/loading-pop";
@import "../../common/list-edit";

.content-box {
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  top: -1px;
  z-index: 998;
  padding-bottom: 50px;
}

//内容头部
.top-title {
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  padding-left: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
  color: #0a0a0a;
  position: relative;
}

.top-title:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 14px;
  background-color: #f4c044;
}

.title h3 {
  font-size: 22px;
  text-align: center;
  margin-left: 50px;
}

.row {
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/*保存取消*/
.text-center {
  padding-top: 40px;
}

.text-center .button {
  width: 122px;
}

.text-center .save {
  margin-right: 10px;
  background-color: #f4c044;
  color: #fff;
}

.text-center .save:hover,
.text-center .clone:hover {
  color: #fff;
}

.text-center .clone {
  background-color: #515151;
  color: #fff;
}

.small-14 select {
  width: 90%;
  display: inline-block;
}

.reduce-attributes,
.add-attributes {
  font-size: 20px;
  color: #666;
}

.attribute input {
  width: 150px;
}

.category_params input {
  width: 90%;
  display: inline-block;
}

.reduce-params,
.add-params {
  font-size: 20px;
  color: #666;
  display: inline-block;
}

.category_attributes {
  padding-bottom: 20px;
}

.category_params p,
.category_attributes p {
  margin-bottom: 20px;
  position: relative;
}

.error-message {
  height: 20px;
  color: #a94442;
  position: absolute;
  bottom: 0;
  left: 0;
}

.error-tip-picture {
  color: #a94442;
}