@charset "UTF-8";
@import "../../../common/add-picture";
@import "../../../common/confirm-pop";
@import "../../../common/prompt-pop";
@import "../../../common/change";

a:hover,
a:visited,
a:link,
a:active {
  color: #fff;
}

em {
  cursor: pointer;
  font-style: normal;
  font-size: 18px;
  padding-right: 10px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.top-title {
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  padding-left: 30px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
  position: relative;
}

.top-title:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 4px;
  height: 14px;
  background-color: #f4c044;
}

.title h3 {
  font-size: 22px;
  text-align: center;
  margin-left: 50px;
}

#form > .row {
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.row {
  width: 520px;
  margin-bottom: 17px;
  text-align: center;
}

.columns label {
  font-size: 14px;
  display: inline-block;
  width: 20%;
  text-align: left;
  vertical-align: top;
}

.judge div {
  display: inline-block;
}

.main-protect {
  margin-bottom: 20px;
}

.main-protect .textarea-select {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  background: #fff;
  text-align: left;
  margin: 0;
  min-height: 40px;
  line-height: 28px;
  max-height: 300px;
  _height: 120px;
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 3px;
}

.columns input,
.columns textarea {
  vertical-align: top;
  display: inline-block;
  width: 65%;
}

.columns textarea {
  height: inherit;
}

.option {
  margin-top: -25px;
  padding-left: 50px;
}

.option input {
  margin-left: 10px;
}

.product-attribute-box {
  display: inline-block;
  width: 65%;
}

.product-attribute-list p {
  text-align: left;
  margin: 10px 0 0 0;
}

.product-attribute-list p i {
  cursor: pointer;
  padding-right: 10px;
}

.product-attribute-list li {
  position: relative;
  text-align: left;
  height: 25px;
}

.product-attribute-list li em {
  position: absolute;
  right: 35px;
  font-size: 18px;
  cursor: pointer;
}

.product-attribute-list li i {
  position: absolute;
  right: 5px;
  font-size: 18px;
  cursor: pointer;
}

.param-list i {
  display: none;
}

/*保存*/
.text-center {
  padding-top: 40px;
  border-top: 1px solid #dddddd;
}

.text-center .button {
  width: 122px;
}

.text-center .save {
  margin-right: 10px;
  background-color: #f4c044;
}

.text-center .clone {
  background-color: #515151;
}

.form-error {
  position: absolute;
  top: 33px;
}

.error-tip-permissions {
  color: #a94442;
}

/*产品属性*/
.cancel-top {
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.attribute-content {
  padding: 40px;
}

.attribute-content label {
  width: 120px;
  vertical-align: top;
}

.attribute-content input {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
}

.attribute-content .add-box {
  display: inline-block;
}

.add-btn {
  cursor: pointer;
}

.add-param {
  margin-top: 20px;
}

.add-box .param-list {
  padding: 0;
  max-height: 200px;
  overflow-y: scroll;
}

.add-box li {
  position: relative;
  height: 25px;
  line-height: 25px;
}

.add-box li em {
  position: absolute;
  right: 35px;
  font-size: 18px;
  cursor: pointer;
}

.dialog-footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25px;
}

.add-param-btn,
.comfirm-edit-btn {
  background-color: #f4c044;
  margin-right: 10px;
  color: #fff;
}

.cancel,
.edit-cancel-btn {
  background-color: #515151;
  margin-left: 10px;
  color: #fff;
}

.error-tip,
.error-tips {
  color: #d3504d;
}

.change-box {
  padding-left: 50px;
}

.change-box input {
  width: 150px;
}

.change-title {
  padding: 10px;
}