@charset "UTF-8";
@import "../../../common/change";

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
li label {
  font-weight: normal;
  margin: 0;
}
.add-btn {
  background-color: #7cbde2;
}
.add-btn:hover {
  color: #fff;
  background-color: #73cde8;
}
.content-box {
  width: 100%;
  height: auto;
  overflow-x: auto;
  padding: 30px 0;
  position: relative;
  top: -3px;
  z-index: 998;
}
.content-box .parent-box {
  position: relative;
}
.table-box {
  width: 100%;
  margin-top: 20px;
  padding: 20px 30px;
  border-top: 1px solid #d9d9d9;
}
.table-box .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
}
.table-box .left-box {
  display: inline-block;
  width: 30%;
}
.table-box .right-box {
  display: inline-block;
  width: 68%;
  vertical-align: top;
}
.table-box span {
  display: inline-block;
}
.table-box .if-show,
.table-box .sort {
  width: 15%;
}
.table-box .discrib {
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table-box .action {
  display: inline-block;
  vertical-align: top;
}
.table-box .icon-edit {
  padding: 0 10px 0 20px;
}
.table-box .icon-add {
  font-weight: bold;
}
.table-box .delete {
  font-weight: bold;
  padding-right: 10px;
}
.table-box .file {
  color: #3097d1;
  padding-right: 5px;
}
.second-level .left-box {
  padding-left: 25px;
}
.third-level .left-box {
  padding-left: 50px;
}
.filter-box {
  width: 97%;
  height: 40px;
  margin-top: 20px;
}

.add {
  float: right;
  margin-right: 20px;
}

