html {
    width: 100%;
    height: 100%;
}
.page {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}
.hidden {
    display: none;
}
.slider-wrap ul, .slider-wrap li {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.slider-wrap li {
    display: -webkit-box;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    position: absolute;
}
.slider-wrap img {
    max-width: 100%;
    height: auto;
}
.nav-wrap {
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
}
.nav-wrap i {
    color: #bbb;
}
.nav-wrap i.active {
    color: #fff;
}
/* 自动补全 */
.auto-wrap {
    position: absolute;
    top: 0;
}