@import "../../ui/exhibition-h5/developer/developer-header.css";
@import "../../ui/exhibition-h5/footer.css";

.clear {
    clear: both;
}

.broadcast {
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}