/*分类：全选各选*/
.cancel-top {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.dialog-header {
    height: 52px;
    line-height: 52px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #efeff4;
}
.dialog-content {
    border: 1px solid #DDD;
    height: 560px;
    overflow: auto;
    background: #f6f6f6;
}
.dialog_wrap {
    position: relative;
    padding-top: 15px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #DDD;
    background: #f6f6f6;
}
.dialog_wrap span {
    display: inline-block;
    margin: 0 20px 15px 20px;
}
.dialog_wrap input {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.dialog_wrap label {
    vertical-align: top;
}
.dialog_wrap ul {
    background: #fff;
    width: 880px;
}
.dialog_wrap li {
    display: inline-block;
    min-width: 100px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.dialog-footer {
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
.dialog-footer .button {
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin-top: 0;
    text-align: center;
    padding: 0 27px 0 30px;
    letter-spacing: 3px;
    font-weight: bold;
    background: #f4c044;
}

.dialog-footer .error{
    margin-left: 10px;
    color: red;
    display: none;
}
.dialog-footer a {
    display: inline-block;
    width: 100px;
    border-radius: 3px;
}