@charset "UTF-8";
@import "../../common/add-picture";
@import "../../common/common-edit";
@import "../../common/prompt-pop";
@import "../../common/loading-pop";
@import "../../common/list-edit";

.article-detail {
  margin: 0 auto;
}

.article-detail > div {
  margin-left: -70%;
}

.article-content {
  width: 70%;

  height: 200px;
  border: 1px solid #ccc;
  margin: 0 auto 20px;
}

.clear {
  clear: both;
}

.checkbox {
  display: inline-block;
}

input[type="radio"] {
  margin: 0;
  line-height: 39px;
}

.small-8 > span {
  font-weight: bold;
}

.row {
  position: relative;
  margin-bottom: 20px;
}

.brand-input {
  width: 90%;
  display: inline-block;
}

.special-input {
  margin-bottom: 20px;
}

.add-brand {
  height: 40px;
  background-color: #73cde8;
  color: #ffffff;
  margin-bottom: 20px;
}

.add-brand:focus,
.add-brand:hover {
  color: #ffffff;
}

.close-brand {
  font-size: 25px;
  color: #666;
}

.add-brand-input {
  margin-bottom: 20px;
  position: relative;
}

.form-error {
  position: absolute;
  top: 37px;
}

.error-tip-category {
  color: #c60f13;
  padding-left: 7%;
}

#container {
  width: 50%;
  margin: 0px auto 25px;
}

.error-tip-content {
  padding-left: 25%;
  color: #c60f13;
}

.primary {
  padding-left: 20px;
  margin-top: 20px;
}

.primary > li {
  list-style: none;
  font-weight: bold;
  margin-top: 7px;
}

.list {
  padding-left: 0;
}

.list > li {
  list-style: none;
  float: left;
  padding: 10px 20px 0 0;
}

.list > li > label {
  font-weight: normal;
}

.error-tip-brand {
  color: #c60f13;
  padding-left: 34%;
}

.error-tip-status,
.error-tip-is_publish {
  color: #c60f13;
}

.category-input {
  width: 29VW;
  height: 200px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  overflow-y: auto;
}

.text-center .conversion {
  margin-right: 10px;
  background-color: deepskyblue;
}

.conversion:hover {
  color: #ffffff;
}

.tips-file {
  color: #b3b3b3;
  font-size: 12px;
  font-style: normal;
}