.navigation-bar {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 999;
  height: auto;
  overflow: hidden;
  text-align: left;
}

.navigation-bar a {
  color: #453914;
  display: inline-block;
  margin-left: 4px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  height: 40px;
  line-height: 40px;
  width: 136px;
  text-align: center;
  font-size: 16px;
  z-index: 2;
  cursor: pointer;
}

.navigation-bar a:first-child {
  margin-left: 0;
}

.navigation-bar .active {
  background: #fff;
  color: #f4c044;
}

//添加按钮
.add-btn {
  float: right;
  margin-right: 20px;
  background-color: #73cde8;
  border-radius: 5px;
}

.add-btn a:hover {
  color: #FFFFFF;
}

//内容头部
.top-title {
  height: 47px;
  line-height: 47px;
  font-size: 16px;
  padding-left: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
  color: #0a0a0a;
  position: relative;
}

.top-title:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 14px;
  background-color: #f4c044;
}

.title h3 {
  font-size: 22px;
  text-align: center;
  margin-left: 50px;
}

.row {
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/*保存取消*/
.text-center {
  padding-top: 40px;
}

.text-center .button {
  width: 122px;
}

.text-center .save {
  margin-right: 10px;
  background-color: #f4c044;
  color: #fff;
}
.text-center .save:hover,
.text-center .clone:hover {
  color: #fff;
}
.text-center .clone {
  background-color: #515151;
  color: #fff;
}

.form-error {
  position: absolute;
  top: 33px;
}

@media screen and (min-width: 1100px) and (max-width: 1700px) {
  .navigation-bar a {
    width: auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1100px) {
  .navigation-bar a {
    width: auto;
    padding: 0 3px;
  }
}