/*弹层样式*/
.hint-content .text {
    text-align: center;
    font-size: 15px;
    padding: 40px 10% 30px;
    color: #7d7d7d;
}

.hint-btn a {
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #1bc7c9;
    border-radius: 5px;
    font-size: 15px;
}