/*编辑*/
.page {
    background-color: #eee;
}

.detail-box dl {
    padding: 0 15px;
}

.detail-box dt {
    font-size: 1.6rem;
    color: #999;
    padding: 10px 5px 5px 5px;
}

.detail-box dd {
    font-size: 1.6rem;
    color: #363636;
    padding: 0 5px 10px 5px;
    border-bottom: 1px solid #c8c8c8;
    line-height: 1.6rem;
}

.link-aim {
    position: relative;
    display: block;
    margin: 0 15px;
    padding-left: 5px;
    height: 6rem;
    line-height: 6rem;
    border-bottom: 1px solid #c8c8c8;
    font-size: 1.6rem;
}

.link-aim span {
    position: absolute;
    right: 1rem;
}

.save-box {
    position: relative;
}

.error-tip {
    position: relative;
}

.zvalid-resultformat {
    position: absolute;
    left: 20px;
    font-size: 1.4rem;
    color: #f30;
    top: 0;
}

.save-box .save-btn {
    font-size: 1.8rem;
    color: #fff;
    background: #ff8a00;
    padding: 1rem 0;
    width: 95%;
    margin: 4rem 10px;
    text-align: center;
    border-radius: .3rem;
    letter-spacing: 2px;
    height: auto;
}

.creat-box {
    margin: 0 auto;
    width: 100%;
}

.creat-box p {
    font-size: 1.6rem;
    color: #363636;
    padding: 10px;
}

.creat-box span {
    display: block;
    padding-left: 10px;
    margin: 1rem 0;
}

.creat-box select {
    width: 95%;
    padding: 0 1%;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border-radius: 3px;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") no-repeat 100% center;
    border: 1px solid #c9c9c9;
    color: #363636;
    line-height: normal;
    height: 35px;
}

@media (min-device-width: 414px) {
    .save-box .save-btn {
        padding: 1.5rem 0;
    }
}

